.myDiv {
  background-color: #FF9C1A;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
  
.innerDiv{
  display: flex;
  justify-content: space-between;
}

.text{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}