@config "../cfg/tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

td{
    padding-right: 30px;
    padding-left: 30px;
}

::webkit-scrollbar{
    width: 10px !important;
}

::-webkit-scrollbar-thumb {
    background: #888 !important; /* Background color of the thumb */
    border-radius: 5px !important; /* Rounded corners of the thumb */
}
  
  /* Customize the scrollbar track when hovered */
::-webkit-scrollbar-thumb:hover {
    background: #555 !important; /* Background color when hovered */
}